.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem 1rem 0;
  color: #262626;
  text-decoration: none;
}

.container:hover {
  cursor: pointer;
}

.container:hover .lenketekst {
  text-decoration: underline;
}

.container:hover .chevron {
  transition-duration: 0.2s;
  transform: translate(3px, 0);
}

.lenketekst {
  font-weight: bolder !important;
}

.dato {
  color: var(--a-text-subtle);
}
