.alle_saker {
  margin-right: 1rem;
  text-decoration: none;
  font-weight: normal;
  text-decoration: underline;
}

.alle_saker:hover {
  cursor: pointer;
  text-decoration: none;
}

.heading {
  display: flex;
  justify-content: space-between;
}

.panel > a:nth-of-type(2) {
  border-top: 1px solid lightgray;
  margin-bottom: 0.4rem;
  padding: 1rem 1rem 0 0;
}

.panel > a {
  text-decoration: none;
}

.ikon {
  display: flex;
  align-self: center;
  overflow: visible;
  padding: 0.8125rem;
  margin: 0 1.5rem 0 0;
  background-color: #cce2f0;
  border-radius: 50%;
}

.panel_liten_tittel {
  font-size: 18px !important;
}

.panel {
  background-color: #f7f7f7 !important;
  border-radius: 8px !important;
}

.panel_liten {
  background-color: #f7f7f7 !important;
  border-radius: 8px !important;
}

@media (min-width: 0px) {
  .panel {
    margin: 2rem 0 2rem 0;
    padding: 0.75rem 1rem !important;
    width: 100%;
  }

  .panel_liten {
    margin: 2rem 0 2rem 0;
    padding: 0.75rem 1rem !important;
    width: 100%;
  }
}

@media (min-width: 648px) {
  .panel {
    margin: 0 0 2rem 0;
    padding: 1rem 1.5rem !important;
    width: 37.5rem;
  }

  .panel_liten {
    margin: 0 0 2rem 0;
    padding: 1rem 1.5rem !important;
    width: 37.5rem;
  }
}
