.panel {
  margin-bottom: 2rem;
  width: 100%;
  padding: 1rem;
}

.panel > a {
  border-top: 1px solid lightgray;
  padding: 1rem 0;
}

.panel_liten {
  background-color: #f7f7f7 !important;
  border-radius: 8px !important;
}

.panel_liten_tittel {
  font-size: 18px !important;
}

.alleSakerWrapper {
  display: flex;
  border-top: 1px solid lightgray;
  padding: 1rem 0;
}

.alleSaker {
  color: #272727;
}

.alleSaker:hover {
  cursor: pointer;
  text-decoration: none;
}

.ingenDokumenterContainer {
  width: 100%;
  margin-bottom: 2rem;
}

.ingenDokumenterTextWrapper {
  border-radius: 8px;
  padding: 20px;
  background-color: var(--a-bg-subtle);
}

.ikon {
  display: flex;
  align-self: center;
  overflow: visible;
  padding: 0.8125rem;
  margin: 0 1.5rem 0 0;
  background-color: #cce2f0;
  border-radius: 50%;
}

@media (min-width: 0px) {
  .panel_liten {
    margin: 2rem 0 2rem 0;
    padding: 0.75rem 1rem !important;
    width: 100%;
  }
}

@media (min-width: 648px) {
  .panel {
    width: 37.5rem;
    padding: 1.25rem;
  }

  .panel_liten {
    margin: 0 0 2rem 0;
    padding: 1rem 1.5rem !important;
    width: 37.5rem;
  }
}
