.ikon {
  display: flex;
  align-self: center;
  overflow: visible;
  padding: 0.8125rem;
  margin: 0 1.5rem 0 0;
  background-color: #cce2f0;
  border-radius: 50%;
}

.content_wrapper {
  display: flex;
  align-items: center;
}

.tekst {
  font-size: 18px !important;
}

.flis {
  background-color: #f7f7f7 !important;
  border-radius: 8px !important;
}

.flis_large {
  background-color: #f7f7f7 !important;
  border-radius: 8px !important;
}

@media (min-width: 0px) {
  .flis {
    width: 100%;
    margin: 1rem 0 0.5rem 0;
    padding: 0.75rem 1rem !important;
  }

  .flis_large {
    margin-top: 1rem;
    padding: 1rem 1.5rem !important;
  }
}

@media (min-width: 648px) {
  .flis {
    margin: 1rem 0 2rem 0;
    padding: 1rem 1.5rem !important;
  }

  .flis_large {
    margin-top: 1rem;
    padding: 1rem 1.5rem !important;
    width: 24.5rem;
  }
}
