.container {
  width: 468px;
  border-radius: var(--a-border-radius-large);
  background-color: var(--a-surface-default);
  box-shadow: var(--a-shadow-xsmall);
  width: 100%;
  color: #272727;
  text-decoration: none;
}

.container:hover {
  cursor: pointer;
  box-shadow: var(--a-shadow-small);
}

.container:hover .chevron {
  transition-duration: 0.2s;
  transform: translate(3px, 0);
}

.container:hover h2 {
  text-decoration: underline;
}

.container:focus {
  box-shadow: var(--a-shadow-focus);
  outline: none;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 0.75rem 1rem;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  border-bottom: 1px solid lightgray;
}

.text {
  padding: 0.75rem 1rem 1rem 1rem;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
}

@media (min-width: 648px) {
  .headerContainer {
    padding: 1rem 1.25rem 0.75rem 1.25rem;
  }

  .text {
    padding: 1rem 1.25rem 1.25rem 1.25rem;
  }
}
