.componentWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.container {
  width: 37rem;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem 0.75rem 1rem;
  border-radius: 0.5rem 0.5rem 0.125rem 0.125rem;
  margin-bottom: 0.125rem;
  text-decoration: none;
  color: var(--a-text-default);
}

.headerContainer:hover h2 {
  text-decoration: underline;
}

.headerContainer:hover .chevron {
  transition-duration: 0.2s;
  transform: translate(3px, 0);
}

.headerContainerNyMelding {
  background: var(--a-surface-alt-3-subtle);
}

.headerContainerNyMelding:hover {
  background: var(--a-surface-alt-3-moderate);
}

.headerContainerIngenNyMelding {
  background: var(--a-bg-subtle);
}

.headerContainerIngenNyMelding:hover {
  background: var(--a-surface-neutral-subtle-hover);
}

.bodyContainer {
  padding: 1rem 1rem 1.25rem 1rem;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
}

.bodyContainerNyMelding {
  background: var(--a-surface-alt-3-subtle);
}

.bodyContainerIngenNyMelding {
  background: var(--a-bg-subtle);
}

.tagChevron {
  display: flex;
  gap: 10px;
}

@media (min-width: 648px) {
  .headerContainer {
    padding: 1rem 1.25rem 0.75rem 1.25rem;
  }

  .bodyContainer {
    padding: 1rem 1.25rem 1.25rem 1.25rem;
  }

  .componentWrapper {
    margin-bottom: 2.5rem;
  }
}
