.pageWrapper {
  display: flex;
  flex-direction: column;
}

.panelWrapper {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 0px) {
  .panelWrapper {
    flex-direction: column;
  }

  .panelWrapper div:first-of-type {
    margin-bottom: 16px;
  }
}

@media (min-width: 648px) {
  .panelWrapper {
    flex-direction: row;
  }
}
