.listeContainer {
  margin: 2rem 0 0 0;
}

.liste {
  list-style: none;
  padding: 0;
  margin: 0.75rem 0;
}

.lenke:first-of-type {
  border-top: 1px solid var(--a-deepblue-200);
}

.listeTittel {
  color: var(--a-deepblue-600);
}

.li {
  list-style: none;
  padding: 0;
}

.lenke {
  padding: 0.75rem 0;
  border-bottom: 1px solid var(--a-deepblue-200);
}

.color {
  color: var(--a-deepblue-700) !important;
}

.color:hover {
  text-decoration: none;
}

@media (max-width: 648px) {
  .listeContainer {
    width: 100%;
  }
}
