.oversiktContainer {
  padding: 2.75rem calc((100vw - 100%) / 2);
  margin-left: calc(((100vw - 100%) / 2) * -1);
  margin-right: calc(((100vw - 100%) / 2) * -1);
  margin-bottom: 2rem;
  margin-top: 2rem;
  background-color: var(--a-bg-subtle);
}

.listeContainer {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  gap: 1rem;
}

.meldekort {
  padding-bottom: 1rem;
}

@media (min-width: 648px) {
  .listeContainer {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .meldekort {
    padding-bottom: 1.5rem;
  }
}
