.utbetaling {
  display: flex;
  justify-content: center;
  /* margin-bottom: 0.15rem; */
  margin-bottom: 2.5rem;
}

.utbetaling-container {
  border-radius: 0.5rem 0.5rem 0.125rem 0.125rem;
  background: var(--a-bg-subtle);
  width: 37rem;
  padding: 1.25rem;
}
