.utbetaling {
  display: flex;
  justify-content: center;
  margin-bottom: 0.15rem;
}

.container {
  background: var(--a-bg-subtle);
  width: 37rem;
  padding: 1rem;
}

.container-siste {
  border-radius: 0.5rem 0.5rem 0.125rem 0.125rem;
}

.container-ytelser {
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  margin-bottom: 2.5rem;
}

@media (min-width: 648px) {
  .container {
    padding: 1.25rem;
  }

  .container-ytelser {
    padding: 1rem 1.25rem 1rem 1.25rem;
  }
}
