.oppgave {
  background-color: #ffeccc;
}

.oppgave:focus-within,
.oppgave:hover {
  background-color: #ffeccc;
}

.ingenOppgaver {
  background-color: var(--a-surface-subtle);
}

.ingenOppgaver:focus-within,
.ingenOppgaver:hover {
  background-color: var(--a-surface-subtle);
}

.utkast {
  background-color: var(--a-deepblue-100);
}

.utkast:focus-within,
.utkast:hover {
  background-color: var(--a-deepblue-100);
}

.card {
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  position: relative;
  border: none;
  align-items: center;
  justify-content: space-between;
  border: solid 1px transparent;
}

.container {
  display: flex;
  flex-direction: row;
}

.card .text {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  color: #272727;
}

.card a {
  text-decoration: none;
  color: #272727;
}

.card a::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.card a:focus {
  outline: none;
  text-decoration: underline;
}

.card:focus-within {
  box-shadow: 0 0 0 0.25rem;
}

.card:hover {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -2px rgba(0, 0, 0, 0.1);
  border: solid 1px var(--a-border-subtle) !important;
  cursor: pointer;
}

.card:hover .tittel {
  text-decoration: underline;
}

.card:hover .chevron {
  transition-duration: 0.2s;
  transform: translate(3px, 0);
}

.card:focus-within a:focus {
  text-decoration: none;
}

.loading {
  display: flex;
  justify-content: center;
}

.tittel {
  margin: 0 !important;
  font-weight: 600 !important;
}

.ingress {
  font-size: medium;
}

.chevron {
  overflow: visible;
}

.ikonWrapper {
  display: flex;
  align-self: center;
  overflow: visible;
  padding: 15px;
  background-color: #ffeccc;
  border-radius: 50%;
  color: #262626;
}

.ikonoppgave {
  color: var(--a-icon-default);
  background-color: #ffd799;
}

.ikoningenOppgaver {
  color: var(--a-icon-default);
  background-color: var(--a-grayalpha-100);
}

.ikonutkast {
  color: var(--a-icon-default);
  background-color: var(--a-deepblue-200);
}

@media (min-width: 0px) {
  .card {
    width: 100%;
    padding: 16px;
  }

  .oppgave {
    margin-right: 0;
    margin-bottom: 12px;
  }

  .ingenOppgaver {
    margin-right: 0;
    margin-bottom: 12px;
  }
}

@media (min-width: 648px) {
  .card {
    width: 444px;
    padding: 16px;
  }

  .oppgave {
    margin-right: 24px;
    margin-bottom: 0;
  }

  .ingenOppgaver {
    margin-right: 24px;
    margin-bottom: 0;
  }
}
