.tittel {
  font-size: 18px !important;
}

.ingress {
  font-size: 18px !important;
}

.ikon {
  display: flex;
  align-self: center;
  overflow: visible;
  padding: 0.8125rem;
  margin: 0 -0.5rem 0 0;
  background-color: #cce2f0;
  border-radius: 50%;
}

.flis {
  background-color: #f7f7f7 !important;
  border-radius: 8px !important;
}

@media (min-width: 0px) {
  .flis {
    width: 100%;
    padding: 0.75rem 1rem !important;
  }
}

@media (min-width: 648px) {
  .flis {
    width: 100%;
    padding: 1rem 1.5rem !important;
  }
}
