@media (min-width: 0px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .wrapper > a {
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 648px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.5rem 1.5rem;
    margin-bottom: 2rem;
  }

  .wrapper > a {
    margin-bottom: 0;
  }
}
