.app {
  flex-direction: column;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.pageWrapper {
  display: flex;
  flex-direction: column;
}

.panelWrapper {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 0px) {
  .panelWrapper {
    flex-direction: column;
  }
}

@media (min-width: 648px) {
  .panelWrapper {
    flex-direction: row;
  }
}
