.element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem 1rem 0;
  text-decoration: none;
  color: #272727;
}

.lenke {
  color: #272727 !important;
  text-decoration: none !important;
  font-weight: bolder;
}

.dato {
  margin-bottom: 0 !important;
  color: #707070;
}

.ikon {
  display: flex;
  align-self: center;
  overflow: visible;
  padding: 0.8125rem;
  margin: 0 1.5rem 0 0;
  background-color: #cce2f0;
  border-radius: 50%;
}

.content_wrapper {
  display: flex;
  flex-direction: row;
}

.element:hover {
  cursor: pointer;
}

.element:hover > div > div > a {
  text-decoration: underline !important;
}

.element:hover > svg {
  transition-duration: 0.2s;
  transform: translate(3px, 0);
}

.chevron {
  min-width: 24px !important;
  min-height: 24px !important;
  margin-left: 0.5rem;
}
